<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <link href="/css/match.css" rel="stylesheet" type="text/css">
    <link href="/css/report.css" rel="stylesheet" type="text/css">
    <link href="/css/user-quiz.css" rel="stylesheet" type="text/css">
    <link href="/css/modal.css" rel="stylesheet" type="text/css">
 
    <script defer src="/js/study/search.js"></script>
</head>
<body>
    <main layout:fragment="main" class="of:auto ac:center">
        <section id="search-quiz" class="d:flex fl-direction:column gap:3">
            <!-- 검색어 폼 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
            <section class="d:flex jc:center">
                <form method="get" action="search/result" class="d:flex">
                    <div class="deco icon:magnifying_glass"></div>
                    <div class="d:flex jc:center">
                        <label class="d:flex ac:center w:6">
                            <!-- 검색기록 지우는거 pc는 가능인데 모바일에서는 안나옴 -->
                            <input type="text" autocomplete="on" autofocus class="search-form bg-color:base-3 bd-radius:3 w:10 h:1 p:3" list="d:none quiz-list"  name="q" placeholder="검색어를 입력하세요" enterkey>
                            <!-- <input type="hidden" value="3" name="s"> -->
                            <datalist id="quiz-list">
                                <option>OX문제</option>
                                <option>단답문제</option>
                                <option>띄어쓰기</option>
                                <option>순우리말</option>
                                <option>사자성어</option>
                                <option>어문규정</option>
                            </datalist>
                        </label>
                    </div>
                </form>
            </section>

            <!-- 버튼 카테고리 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
            <section class="d:none d:flex jc:center">
                <h1 class="d:none">문제 카테고리</h1>
                <div class="d:flex fl-direction:column gap:2 mt:4">
                    <div class="d:flex fl-dir:row gap:2">
                        <div><button class="btn-base n-btn:filled-4 btn-off ac:center txt-al:center mr:1">OX문제</button></div>
                        <div><button class="btn-base n-btn:filled-4 btn-off ac:center txt-al:center">단답문제</button></div>
                    </div>

                    <div class="d:flex fl-dir:row gap:2">
                        <div><button class="btn-base n-btn:filled-4 btn-off ac:center txt-al:center mr:1">띄어쓰기</button></div>
                        <div><button class="btn-base n-btn:filled-4 btn-off ac:center txt-al:center">순우리말</button></div>
                    </div>

                    <div class="d:flex fl-dir:row gap:2">
                        <div><button class="btn-base n-btn:filled-4 btn-off ac:center txt-al:center mr:1">사자성어</button></div>
                        <div><button class="btn-base n-btn:filled-4 btn-off ac:center txt-al:center">어문규정</button></div>
                    </div>
                </div>
            </section>
            
            <!-- 추천문제 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
            <section class="d:flex fl-direction:column jc:center ai:center mt:10">
                <div class="fs:4">추천 문제</div>
                <div class="d:flex fl-direction:column mt:2 cursor:pointer">
                    <div class="searchQuiz d:flex fl-direction:column jc:center ai:center w:5 h:2 cursor:pointer">
                        <button id="rand-quiz" class="randQuiz-box mr:5 ml:5 cursor:pointer"><span th:utext="${randQ.question}">랜덤 추천 문제</span></button>
                    </div>
                </div>
            </section>

            <!-- 카테고리 작업하면 삭제 -->
            <section>
                <div class="h:2"></div>
            </section>

            <!-- 검색기록 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
            <section class="d:none d:flex fl-direction:column jc:center ai:center">
                <div class="fs:4">문제 검색 기록</div>
                <div class="d:flex fl-direction:column mt:2">
                <!-- <div class="d:flex fl-direction:column ai:center"> -->
                    <div class="searchQuiz d:flex fl-direction:column jc:center ai:center">최근에 본 문제</div>
                </div>
                <div class="d:flex flex:end justify-content:flex-end fs:1 w:4"><button>더보기</button></div>
            </section>

            <!-- 내가 본 기록 링크버튼 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
            <section class="d:none flex-direction:row d:flex jc:center">
                <div class="flex-direction:row d:flex jc:center ai:center border-radius:3 w:7 h:2">
                    <a href="/study/search/record"><button class="admin-textarea:4 bg-color:main-5 n-btn n-btn:filled-3 ai:center">내가 본 기록</button></a>
                </div>
            </section>

            <!-- 모달  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
            <section id="r-modal" class="d:none n-modal" tabindex="-1">
                <h1 class="d:none n-font:h3 font-weight:3">오늘올라온문제 디테일모달</h1>
                <div class="mt:8 text-a:center">
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center jc:center"><span class="fw:bold" th:utext="${randQ.question}">질문</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center mt:5"><span class="fw:bold" th:utext="${'① ' + randQ.num1}">1</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center mt:1"><span class="fw:bold" th:utext="${'② ' + randQ.num2}">2</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center mt:1"><span class="fw:bold" th:utext="${'③ ' + randQ.num3}">3</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center mt:1"><span class="fw:bold" th:utext="${'④ ' + randQ.num4}">4</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center jc:center color:accent-4 mt:5"><span class="fw:bold" th:utext="${'정답 : ' + randQ.answer}">답</span></div>
                </div>

                <div class="d:flex fl-direction:column gap:2 mt:8">
                    <button id="conf-btn" class="n-btn n-btn:void n-btn-size:3">확인</button>
                </div>
            </section>
            <div class="backdrop d:none"></div>
    </main>
</body>
</html>