<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZCOCO</title>

    <link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <link href="/css/components/header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/match.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" href="/image/logo.png">
    <script defer src="/js/header.js"></script>
</head>
<body>
    <main layout:fragment="main" class="of:auto ac:center">
    <section class="real-main list-width:2 jc:center mx:7 my:7">
        <h1 class="d:none">학습하기 설정</h1>
        <div class="display:flex fl-direction:column ai:center">
            
            <!-- 설정 -->
            <div class="d:column border-radius:3 bg-color:base-3 w:7 h:3 gap:2 ac:center">
                <div class="flex-direction:row d:flex jc:center ai:center border-radius:3 w:7 h:1">
                    <button class="admin-textarea:4 bg-color:main-5 n-btn n-btn:filled-3 ai:center">열람기록삭제</button>
                </div>

                <div class="d:flex jc:center mt:2">*3개월 뒤 기록이 자동으로 삭제됩니다.</div>
                <div class="d:flex jc:center mt:2">기록을 저장하지 않음<input type="checkbox" class="admin-textarea:4 h:auto overflow:visible ml:2"></div>
            </div>

            <!-- 내가 본 문제 -->
            <div class="d:column border-radius:3 bg-color:base-3 w:7 h:4 ac:center jc:center mt:4">
                <div class="d:flex fl-direction:column jc:center gap:1 p:6">
                    <!-- 제목 -->
                    <div class="d:flex w:6 jc:space-between" >
                        <div class="d:flex w:6 ln-clamp:1">국어순화 사례 어쩌고저쩌고 국어순화 사례 어쩌고저쩌고</div>
                        <div class="icon icon:dots_three_outline_vertical_fill icon-size:4"></div>
                    </div>
                    <!-- 1번 -->
                    <div class="d:flex gap:2 mt:1">
                        <div>①</div>
                        <div class="w:8 ln-clamp:1">오늘 아침 잇따른 오늘 아침 잇따른 오늘 아침 잇따른 오늘 아침 잇따른</div>
                    </div>
                    <!-- 2번 -->
                    <div class="d:flex gap:2">
                        <div>②</div>
                        <div class="w:8 ln-clamp:1">그는 화가 난 상대를 그는 화가 난 상대를 그는 화가 난 상대를 그는 화가 난 상대를</div>
                    </div>
                    <!-- 3번 -->
                    <div class="d:flex gap:2">
                        <div>③</div>
                        <div class="w:8 ln-clamp:1">한강 고수부지에 체육공원 한강 고수부지에 체육공원 한강 고수부지에 체육공원</div>
                    </div>
                    <!-- 4번 -->
                    <div class="d:flex gap:2">
                        <div>④</div>
                        <div class="w:8 ln-clamp:1">그는 우리 회사의 지분 그는 우리 회사의 지분 그는 우리 회사의 지분 그는 우리 회사의 지분</div>
                    </div>
                </div>
            </div>

            <div class="d:column border-radius:3 bg-color:base-3 w:7 h:4 ac:center jc:center  mt:4">
                <div class="d:flex fl-direction:column jc:center gap:1 p:6">
                    <!-- 제목 -->
                    <div class="d:flex w:6 jc:space-between" >
                        <div class="d:flex w:6 ln-clamp:1">국어순화 사례 어쩌고저쩌고 국어순화 사례 어쩌고저쩌고</div>
                        <div class="icon icon:dots_three_outline_vertical_fill icon-size:4"></div>
                    </div>
                    <!-- 1번 -->
                    <div class="d:flex gap:2 mt:1">
                        <div>①</div>
                        <div class="w:8 ln-clamp:1">오늘 아침 잇따른 오늘 아침 잇따른 오늘 아침 잇따른 오늘 아침 잇따른</div>
                    </div>
                    <!-- 2번 -->
                    <div class="d:flex gap:2">
                        <div>②</div>
                        <div class="w:8 ln-clamp:1">그는 화가 난 상대를 그는 화가 난 상대를 그는 화가 난 상대를 그는 화가 난 상대를</div>
                    </div>
                    <!-- 3번 -->
                    <div class="d:flex gap:2">
                        <div>③</div>
                        <div class="w:8 ln-clamp:1">한강 고수부지에 체육공원 한강 고수부지에 체육공원 한강 고수부지에 체육공원</div>
                    </div>
                    <!-- 4번 -->
                    <div class="d:flex gap:2">
                        <div>④</div>
                        <div class="w:8 ln-clamp:1">그는 우리 회사의 지분 그는 우리 회사의 지분 그는 우리 회사의 지분 그는 우리 회사의 지분</div>
                    </div>
                </div>
            <!-- 더보기 -->
            </div>
                <div class="d:flex flex:end justify-content:flex-end fs:1 w:7 H:2 mt:1"><button>더보기</button></div>

            </div>
    </section>

    <!-- 스크롤 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
    <!-- 모달 -->
    <section class="d:none">
        <h1>문제 기록삭제</h1>
        <div>기록에서 삭제</div>
        <!-- <ul>
            <li><button>취소</button></li>
            <li><button>확인</button></li>
        </ul> -->
    </section>
    </main>
</body>
</html>