<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <script defer src="/js/myinfo/edit.js"></script>
</head>
<body>
    <main layout:fragment="main" class="of:auto">
    <section id="reg-form" class="main-container-center">
        <h1 class="d:none">내 정보 수정</h1>
            <form action="edit" th:action="@{/myinfo/edit}" method="post" enctype="multipart/form-data" novalidate class="d:flex fl-dir:column ai:center">
    
            <sectionaa class="d:flex fl-dir:column">
                <h1 class="d:none">프로필등록폼</h1>
                        <div>
                            <label class="img-label d:flex fl-dir:column ai:center jc:center">
                                <span class="preview-panel preview" th:style="'background-image: url(' + ${currentUser.img != null ? '/img/user/' + currentUser.img : '../../image/man.png'} + ')'"></span>
                                <input name="img-file" type="file" class="profile-img" accept="image/*" style="display: none;"/>
                                <span class="n-btn n-btn:save">사진 변경</span>
                            </label>
                        </div>
                        <div class="pt:8 d:flex fl-dir:column ai:center">
                            <label class="d:flex fl-dir:row gap:3 ai:center">
                                <span class="fw:3">닉네임</span><span class="fs:4 fw:3 show-nickname" th:text="${currentUser.nickName}">현재닉네임</span>
                                <input type="text" name="nickname" autocomplete="off" minlength="2" maxlength="8" class="input-nickname text-align:center hidden"/>
                                <div class="change-nickname"><span class="n-btn n-btn:save">변경</span></div>
                                <div class="cancel-nickname hidden"><span class="n-btn n-btn:save">취소</span></div>
                            </label>
                            <div class="d:flex ai:center jc:center ncheck-place"><span class="nickname-check"></span></div>
                        </div>
            </sectionaa>
    
            <section class="d:flex fl-dir:column pt:10">
                <h1 class="fs:4 fw:3 d:flex ai:center jc:center">공개 설정</h1>
            
                <div class="pt:5 w:10 d:flex jc:center">
                    <label class="w:5 jc:space-between">
                        <span class="fw:3">순위</span>
                        <input type="checkbox" class="n-toggle" />
                    </label>  
                </div>
    
                <div class="pt:5 w:10 d:flex jc:center">
                    <label class="w:5 jc:space-between">
                        <span class="fw:3">포인트</span>
                        <input type="checkbox" class="n-toggle" />
                    </label>  
                </div>    
    
                <div class="pt:5 w:10 d:flex jc:center">
                    <label class="w:5 jc:space-between">
                        <span class="fw:3">보유 아바타</span>
                        <input type="checkbox" class="n-toggle" />
                    </label>  
                </div>
    
                <div class="pt:5 w:10 d:flex jc:center">
                    <label class="w:5 jc:space-between">
                        <span class="fw:3">보유 코코</span>
                        <input type="checkbox" class="n-toggle" />
                    </label>
                </div>
            </section>
            <div class="pt:5 d:flex fl-dir:column ai:center jc:center">
                <label class="d:flex fl-dir:row gap:3 ai:center jc:center">
                    <span class="fw:3 w:1">메세지</span><span class="fw:2 show-message" th:text="${currentUser.message}">현재 메세지</span>
                    <input type="text" name="message" autocomplete="off" minlength="2" maxlength="30" class="input-message text-align:center hidden"/>
                    <div class="change-message"><span class="n-btn n-btn:save">변경</span></div>
                    <div class="cancel-message hidden"><span class="n-btn n-btn:save">취소</span></div>
                </label>     
                <div class="d:flex ai:center jc:center mcheck-place"><span class="message-check"></span></div>
            </div>
            <div class="pt:10">
                <button type="submit" formnovalidate class="n-btn n-btn:save save-btn">저장</button>
            </div>
            </form>
        </section> 
       </main>
</body>
</html>