<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <script defer src="/js/myinfo/info.js"></script>
</head>
<body>
    <main layout:fragment="main" class="of:auto">
<section id="own-section" class="main-container-center">
    <h1 class="d:none">내 정보</h1>
        <section class="d:flex fl-dir:column">
            <h1 class="d:none">유저 정보 섹션</h1>
            <section>
                <h1 class="d:none">유저 프로필</h1>
                <div class="d:flex fl-dir:row gap:5 ai:center">
                    <nav class="profile-img">
                        <div class="default-place">
                            <!-- <span class="open-modal"><img class="defaul-profile" src=""></span> -->
                            <span class="open-modal defaul-profile" th:style="'background-image: url(' + ${currentUser.img != null ? '/img/user/' + currentUser.img : '../../image/man.png'} + ')'"></span>
                            
                        </div>
                        <ul class="d:flex fl-dir:row gap:1 pt:2 pl:2">
                            <li><a href="/myinfo/edit" class="icon icon:pencil_simple">유저 정보 수정</a></li>
                            <li><a href="/myinfo/stemp" class="icon icon:trophy">달성 스탬프</a></li>
                            <li><a href="/myinfo/bookmark" class="icon icon:bookmark_simple">북마크</a></li>
                        </ul>
                    </nav>
                    <div class="user-profile">
                        <ul class="md:fs:3 fw:1 lg:fs:5 fw:3">
                            <li class="pt:2"><span>별명 : </span><span th:text="${currentUser.nickName}">김철수</span></li>
                            <li class="pt:2"><span>레벨 : </span><span th:text="${userLevel}">55</span></li>
                            <li class="pt:2"><span>경험치 : </span><span th:text="${userExp}">1234567</span></li>
                            <li class="pt:2"><span>포인트 : </span><span th:text="${userPoint}">7654321</span></li>
                            <li class="pt:2"><span>순위 : </span><span th:text="${userRank}">2024</span><span>등</span></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="btn-section d:flex jc:center gap:2 pt:10 md:fl-dir:row lg:fl-dir:column">
                <h1 class="d:none">보유 내역</h1>
                    <div class="own-avartar n-btn:filled-on filled-off csr:pointer">보유아바타</div>
                    <div class="own-coco n-btn:filled-off filled-on csr:pointer">보유 코코</div>    
            </section>
            <section class="img-section d:flex ai:center jc:center h:3">
                <div class="show-avartar">
                    <img th:src="${avatarImg}">
                </div>
                <div class="show-coco hidden">
                    <img th:src="${cocoImg}">
                </div>
            </section>
            <div class="inventory-btn"><a href="/myinfo/inventory" class="n-btn:long-btn mt:5">나의 인벤토리</a></div>
        </section>
        <!-- 이미지 모달 -->
            <section class="n-modal d:none modal">
                <h1 class="d:none">이미지 새창으로 열기</h1>
                <!-- <div class="d:flex jc:flex-end">
                    <button type="button" class="n-btn close-btn">&times;</button>
                </div> -->
                <div class="modal-content">
                    <img class="modal-image" th:src="@{'/img/use43r/' + ${currentUser.img != null ? currentUser.img : 'default-image.png'}}">
                </div>
            </section>
        <div class="backdrop d:none modal-backdrop"></div>
   </section>        
   </main>
</body>
</html>