<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/admin/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="../../static/css/admin/header.css" rel="stylesheet" type="text/css"> -->


</head>
<body>
    <header class="admin-hd d:flex jc:flex-start h:2 bg-color:base-8 color:base-1 p:5 ai:center pos:sticky top:1 zi:1">
        <h1 class="order:2 fs:7 white-space:nowrap">관리 페이지</h1>
        <div class="order:1"><a href="" class="icon icon:caret_left_bold icon-color:base-1 mr:3">뒤로가기</a></div>
        <div class="hd-right-item order:3 mr:3"><a href="/" class="icon icon:admin icon-color:base-1">관리자-유저</a></div>
        <div class="order:4 bg-color:base-1 bd-radius:3 w:5 h:1/2 white-space:nowrap d:flex jc:center"><input class="w:4" placeholder="검색어 입력"><button class="icon icon:magnifying_glass as:center"></button></div>
        <div class="order:4 icon icon:magnifying_glass icon-color:base-1">검색</div>
    </header>
    <main>
        <section class="list-height mt:1">
            <h1 class="list-item bg-color:main-5 h:1 ac:center jc:center fw:3"><span>목록</span><span>마지막 수정일</span></h1>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="/admin/examquiz/list">기출문제</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">유저문제</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">회원</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">아이템</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">고객센터</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">유저 게시판</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">공지 작성</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">팀</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">아바타</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">코코</a><span>2024-03-22</span></div>
            <div class="list-item bg-color:base-2 h:1 mt:1 ac:center"><a href="">유저 a의 b 검색</a><span>2024-03-22</span></div>
        </section>

    </main>
    
</body>
</html>