<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZCOCO</title>
<link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <link href="/css/components/header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/list.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/admin/util.css" rel="stylesheet" type="text/css">
    <link href="/css/modal.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" href="/image/logo.png">
    <script defer src="/js/header.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script type="module" src="/js/study/favorite/list.js" defer></script>
</head>
<body>
    <main layout:fragment="main" class="of:auto d:flex fl-direction:column ai:center">
        <section class="w:10p md:w:7p">
            <h1 class="d:none">유저 퀴즈 목록</h1>

            <section class="d:none place-grid">
                <div class="old-new as:center mb:3 mt:3">
                    <button value="1" name="newold" class="n-btn n-btn:filled">오래된 순</button>
                </div>
            </section>

            <section v-for="(q, index) in list" :key="index" class="list-shape n-item n-item:underline bg-color:main-1 d:flex mb:1">
                <h1 class="d:none">즐겨찾기 리스트</h1>
                <!-- <input type="checkbox" name="checkbox" class="n-toggle n-toggle-type:check-box n-toggle-size:1 as:center" > -->
                <a>
                    <div class="pl:5">
                        <span>{{ q.question }}</span><br><br>
                        <span class="pb:2" v-if="q.num1 !== null">① {{q.num1}}<br></span>
                        <span class="pb:2" v-if="q.num2 !== null">② {{q.num2}}<br></span>
                        <span class="pb:2" v-if="q.num3 !== null">③ {{q.num3}}<br></span> 
                        <span class="pb:2" v-if="q.num4 !== null">④ {{q.num4}}<br><br></span>
                        <span class="color:accent-4">답 : {{ q.answer }}</span>
                    </div>
                </a>
            </section>

            <section class="ad mt:4 d:none md:d:flex jc:center">
                <h1 class="d:none">광고</h1>
                <div class="ac:center">광고어디니</div>
            </section>
        </section>
    </main>
</body>
</html>