<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quizcoco.web.repository.BoardRepository">


<resultMap id="BoardResultMap" type="Board">
    <id property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="regDate" column="reg_date"/>
    <result property="viewCount" column="view_count"/>
    <result property="userId" column="user_id"/>
    <collection property="img" ofType="BoardImage" column="id" javaType="ArrayList" select="findImgByBoardId"/>
</resultMap>


<select id="findAll" resultType="Board">
select * from board 

<where>
      <if test="query != null">
            title LIKE '%${query}%' OR 
            content LIKE '%${query}%'
      </if>
</where>

order by reg_date desc
limit #{offset}, #{size}
</select>

<select id="count" resultType="Integer">
        select count(id) from board
        <where>
        <if test="query != null">
            title LIKE '%${query}%' OR 
            content LIKE '%${query}%'
        </if>
        </where>
</select>

<select id="findById" resultType="Board">
select * from board where id=#{id}
</select>

<!-- 추천수에 따라 -->
<select id="findWithLikeCount" resultType="BoardLikeView">

select * from
(select board.*, br.count from (select post_id, count(id) count from board_recommend group by post_id) br right join board
on br.post_id = board.id) view

where count >= #{count}
</select>


<insert id="save" parameterType="Board" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO board
		(
            title,
            content,
            user_id
		)
		VALUES
		(
            #{title},
            #{content},
            #{userId}
		)
		
	</insert>

<!-- 조회수,수정 -->
<update id="update" parameterType="com.quizcoco.web.entity.Board">
        
            UPDATE board
            SET
                 title=#{title}
                ,content=#{content}
                ,view_count = #{viewCount}
            where
                id = #{id}
        
</update>

<delete id="deleteById" parameterType="Long">
        
      DELETE FROM board
      WHERE id = #{id}
</delete>


<!-- ====================== 이미지 ========================= -->


<select id="findImgByBoardId" resultType="BoardImage">
select * from board_image where board_id=#{boardId}
</select>

<insert id="insertImg" parameterType="BoardImage">
		INSERT INTO board_image
		(
            image_url
            ,board_id
		)
		VALUES
		(
            #{imageUrl}
            ,#{boardId}
		)
		
	</insert>

<delete id="deleteImgById" parameterType="Long">
        
     DELETE FROM board_image
        WHERE id = #{id}
</delete>
       
</mapper>
