<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quizcoco.web.repository.CocoRepository">


<select id="findCocoById" resultType="Coco">

SELECT * FROM coco where user_id=#{userId} 

<!-- and id=4 -->

</select>

<!-- 코코 이미지 가져오기 -->
<select id="findCocoByUserId" resultType="Coco" parameterType="Long">
  select
    ct.img
  from coco c
  join coco_type ct 
       on c.type_id = ct.id
  where c.user_id =#{useredId}     
</select>

</mapper>