<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quizcoco.web.repository.CocoRepository">


<select id="findCocoByUserId" resultType="Coco">

SELECT * FROM coco where user_id=#{userId} 

<!-- and id=4 -->

</select>

<!-- 코코 이미지 가져오기 -->
<select id="findCocoImgByUserId" resultType="Coco" parameterType="Long">
  select
    ct.img
  from coco c
  join coco_type ct 
       on c.type_id = ct.id
  where c.user_id =#{userId}     
</select>


<insert id="save" parameterType="Coco">
INSERT INTO coco(name,user_id,coco_type_id) 

VALUES(#{name},#{userId},1) 

</insert>


<update id="update" parameterType="Coco">
    UPDATE coco
    SET

    name = #{coco.name},
    gender = #{coco.gender},
    hungry = #{coco.hungry},
    level = #{coco.level},
    hp = #{coco.hp},
    birth = #{coco.birth},
    skill_id = #{coco.skillId},
    state_id = #{coco.stateId},
    coco_type_id = #{coco.typeId}

    WHERE user_id = #{userId}
</update>


</mapper>