<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quizcoco.web.repository.UserRepository">

<!-- 로그인 -->
<select id="findByUserName" resultType="User">
    select 
      *
    from user
    where username=#{username}
</select>

<select id="findByEmail" resultType="User">
    select 
      *
    from user
    where mail=#{mail}
</select>

<!-- 회원가입 -->
<insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    insert into user
    (
      username,
      pw,
      nick_name,
      mail
    )
    values
    (
      #{userName},
      #{pw},
      #{nickName},
      #{mail}
    )
</insert>

<!-- 회원가입 시 중복체크 -->
<select id="nameCheck" resultType="int">
  select count (*) from user
  where username = #{username}
        or mail = #{mail}
        or nick_name = #{nickname}
</select>



<!-- 포인트 변경 등 -->
<update id="update" parameterType="User">
    UPDATE user
    SET

    nick_name = #{nickName},
    level = #{level},
    point = #{point},
    exp = #{exp},
    img = #{img},
    message = #{message}

    WHERE id = #{id}
</update>

<!-- 조회 -->
<select id="findByUserId" resultType="User">
    select 
      *
    from user
    where id=#{id}
</select>

</mapper>
