<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quizcoco.web.repository.UserQuizRepository">

    <!-- 디테일 -->
    <select id="findByOXId" resultType="UserOXQuiz">
        select * from user_ox 
        where id=#{id}
    </select>

    <select id="findByShortId" resultType="UserShortQuiz">
        select * from user_short_answer_quiz
        where id=#{id}
    </select>

    <select id="findByMultiId" resultType="UserMultipleQuiz">
        select * from user_multiple_choice_quiz
        where id=#{id}
    </select>

    <!-- 리스트 -->

    <!-- <select id="findAll">
        <if test="resultType == 'UserOXQuiz'">
            select * from user_ox
        </if>
        <if test="resultType == 'UserShortQuiz'">
            select * from user_short_answer_quiz
        </if>
        <if test="resultType == 'UserMultipleQuiz'">
            select * from user_multiple_choice_quiz
        </if>
        where user_id = #{userId}
    </select> -->

    <!-- 수정중 -->
    <select id="findAll" resultType="UserOXQuiz">
       select * from user_ox
        <where>
            <if test="query != null">
            question LIKE '%${query}%'
            </if>

            <if test="userId != null">
                and user_id=#{userId}
            </if>
         </where>
                <!-- limit 0,5 -->
                limit #{offset}, #{size}
    </select>

    <select id="findAll" resultType="userMultipleQuiz">
       select * from user_multiple_choice_quiz
        <where>
            <if test="query != null">
            question LIKE '%${query}%'
            </if>

            <if test="userId != null">
                and user_id=#{userId}
            </if>
         </where>
                <!-- limit 0,5 -->
                limit #{offset}, #{size}
    </select>

    <select id="findAll" resultType="UserOXQuiz">
    select * from user_ox
    <where>
        <if test="query != null">
        question LIKE '%${query}%'
        </if>

        <if test="userId != null">
            and user_id=#{userId}
        </if>
        </where>
            <!-- limit 0,5 -->
            limit #{offset}, #{size}
    </select>


    <!-- //TODO 변경? -->
    <select id="count" resultType="Integer">
    select 
    count(multi.id, ox.id)
    from user_ox ox, 
        <where>
            <if test="query != null">
                ox.question LIKE '%${query}%'
                ox.question LIKE '%${query}%'
            </if>
        </where>
    </select>
</mapper>