<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZCOCO</title>
<link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <link href="/css/components/header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/user-quiz.css" rel="stylesheet" type="text/css">
    <link href="/css/modal.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/png" href="/image/logo.png">
    <script defer src="/js/header.js"></script>
    <script defer src="/js/study/index.js"></script>
</head>
<body>

    <main layout:fragment="main" class="of:auto ac:center">
        <!--=========================== 메인에 입력 ===============================-->
        <section id="index-quiz" class="my:8 mx:8 ac:center">
            <div class="display:flex fl-direction:column row-gap:5 ai:center">
                <div class="d:column border-radius:3 bg-color:base-3 w:7 h:1 ac:center">
                    <div class="d:flex jc:center"><a href="study/self-match/match">1인 대결</a></div>
                </div>
                
                <div class="d:none d:flex col-gap:10 ">
                    <div class="d:column border-radius:3 bg-color:base-3 w:3 h:1 ac:center">
                        <div class="d:flex jc:center"><a href="study/setting">1:1 대결</a></div>
                    </div>
                    <div class="d:column border-radius:3 bg-color:base-3 w:3 h:1 ac:center">
                        <div class="d:flex jc:center"><a href="">팀전</a></div>
                    </div>
                </div>

                <div class="d:column border-radius:3 bg-color:base-3 w:7 h:1 ac:center">
                    <div class="d:flex jc:center"><a href="study/search">퀴즈검색</a></div>
                </div>

                <div class="d:flex fl-direction:column gap:1 border-radius:3 bg-color:base-3 w:7 h:2 ac:center jc:center">
                    <div class="d:flex pl:4 pr:4 ac:center mt:3">
                        <div class="margin-right:auto">오늘 올라온 문제</div>
                        <div><button id="dtail-quiz" class="n-btn:void n-btn-size:3">자세히보기</button></div>
                    </div>
                    <div class="latestQuiz-box d:flex fs:1 pr:10 pl:10 ac:center jc:center mt:3"><span th:utext="${latestQ.question}">질문</span></div>
                </div>

                <div class="d:flex col-gap:10">
                    <!-- 틀린문제보기 해결시 내가만든퀴즈 w:3로 수정하기 -->
                    <div class="d:column border-radius:3 bg-color:base-3 w:7 h:1 ac:center">
                        <div class="d:flex jc:center"><a href="study/userquiz/list">내가 만든 퀴즈</a></div>
                    </div>
                    <div class="d:none d:column border-radius:3 bg-color:base-3 w:3 h:1 ac:center">
                        <div class="d:flex jc:center"><a href="">틀린 문제 보기</a></div>
                    </div>
                </div>

                <div class="d:column border-radius:3 bg-color:base-3 w:7 h:1 ac:center">
                    <div class="d:flex jc:center"><a href="study/favorite/list">문제 즐겨찾기</a></div>
                </div>
            </div>
            
            <section id="d-modal" class="d:none n-modal" tabindex="-1">
                <h1 class="d:none n-font:h3 font-weight:3">오늘 올라온 문제 디테일 모달</h1>
                <div class="mt:8 text-a:center">
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center jc:center"><span class="fw:bold" th:utext="${latestQ.question}">질문</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center mt:5"><span class="fw:bold" th:utext="${'① ' + latestQ.num1}">1</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center mt:1"><span class="fw:bold" th:utext="${'② ' + latestQ.num2}">2</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center mt:1"><span class="fw:bold" th:utext="${'③ ' + latestQ.num3}">3</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center mt:1"><span class="fw:bold" th:utext="${'④ ' + latestQ.num4}">4</span></div>
                    <div class="d:flex fs:2 pr:8 pl:8 ac:center jc:center color:accent-4 mt:5"><span class="fw:bold" th:utext="${'정답 : ' + latestQ.answer}">답</span></div>
                </div>
              
                <div class="d:flex fl-direction:column gap:2 mt:8">
                  <button id="confirm-btn" class="n-btn n-btn:void n-btn-size:3">확인</button>
                </div>
            </section>
            <div class="backdrop d:none"></div>
        </section>

    </main>

</body>
</html>