<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">

<body>
    <main layout:fragment="main" class="of:auto ac:center">
        <section class="d:flex jc:center">
            <nav class="d:flex fl-direction:column jc:center ac:center">
                <h1 class="d:none">설정 메뉴</h1>
                <ul class="mb:8 gap:8">
                    <li><a href="" class="deco deco-margin-right:8 fs:8 icon:Lightbulb">퀴즈 설정</a></li>
                    <li><a href="" class="deco deco-margin-right:8 fs:8 icon:learning mt:2">목록</a></li>
                    <li><a href="" class="deco deco-margin-right:8 fs:8 icon:bell mt:2">알림 설정</a></li>
                    <li><a href="" class="deco deco-margin-right:8 fs:8 icon:text_t mt:2">글자크기</a></li>
                    <li><a href="" class="deco deco-margin-right:8 fs:8 icon:headset mt:2">고객센터</a></li>
                    <li><a href="" class="deco deco-margin-right:8 fs:8 icon:DeviceMobile mt:2">화면설정</a></li>
                    <li><a href="" class="deco deco-margin-right:8 fs:8 icon:card mt:2">계정관리</a></li>
                </ul>
            </nav>
        </section>
   </main>
</body>
</html>