<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <script defer src="/js/user/sign.js"></script>
</head>
<body>
    <main layout:fragment="main" class="of:auto">
<section class="login-container">
    <h1 class="fw:3 font-s:4 d:flex ai:center jc:center pb:7">회원가입</h1>
    <form action="/user/sign" method="post">
        <fieldset id="signup" class="d:flex fl-dir:column jc:center ai:center">
            <div class="d:flex fl-dir:column ai:center jc:center">
                <div class="n-textbox-login mb:3">
                    <label></label>
                    <input name="userName" type="text" class="input-id bg-color:base-2 w:5" maxlength="27" autocomplete="off" required placeholder="*id">
                    <button type="" class="nameCheck-btn n-btn n-btn:input fw:3">중복확인</button>
                </div>
                <div class="d:flex ai:center jc:center usernamecheck-place"><span class="username-check"></span></div>
            </div>
            <div class="d:flex ai:center jc:center">
                <div class="n-textbox-login mb:3">
                    <label></label>
                    <input name="pw" type="password" class="hide-pw bg-color:base-2 w:5" maxlength="27" autocomplete="off" required placeholder="*Password(8~12글자)">
                    <span class="eye-icon d:flex ai:center jc:flex-end icon icon:eye_slash icon:eye icon-color:base-5"></span>
                </div>
            </div>      
            <div class="d:flex ai:center jc:center">
                <div class="n-textbox-login mb:3">
                    <label></label>
                    <input name="passwordConfirm" type="password" class="hide-pwinput bg-color:base-2 w:5" maxlength="27" autocomplete="off" required placeholder="*Password(확인)">
                <span class="eye-pwicon d:flex ai:center jc:flex-end icon icon:eye_slash icon:eye icon-color:base-5"></span>
                </div>
            </div>
            <div class="d:flex fl-dir:column ai:center jc:center">
                <div class="n-textbox-login mb:3">
                    <label></label>
                    <input name="nickName" type="text" class="input-name bg-color:base-2 w:5" maxlength="27" autocomplete="off" required placeholder="*Nickname">
                    <button type="" class="nickCheck-btn n-btn n-btn:input fw:3">중복확인</button>
                </div>
                <div class="d:flex ai:center jc:center nickcheck-place"><span class="nickname-check"></span></div>
            </div>
            <div class="d:flex fl-dir:column ai:center jc:center">
                <div class="n-textbox-login mb:3">
                    <label></label>
                    <input name="mail" type="text" class="input-mail bg-color:base-2 w:5" maxlength="27" autocomplete="off" required placeholder="*Email">
                    <!-- <button type="" class="mailCheck-btn n-btn n-btn:input fw:3">중복확인</button> -->
                </div>
                <div class="d:flex ai:center jc:center mailcheck-place"><span class="mail-check"></span></div>
            </div>
            <div class="d:flex ai:center jc:center pt:8 w:3">
                <button type="submit" class="submit-btn n-btn n-btn:sign fw:3">가입하기</button>
            </div>
        </fieldset>
    </form>
   </section> 
           
   </main>

</body>
</html>