<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZCOCO</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <link href="/css/components/header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/match.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" href="/image/logo.png">
    <script defer src="/js/header.js"></script>
</head>
<body>
 
    <header id="header" class="root-header pd-t:0 pos:sticky top:1 zi:1">
        <h1 class="root-header-title d:none md:d:flex"><span class="header-font">QUIZCOCO</span><span class="white-space:nowrap ln-h:2">- 연습 결과 보고서</span></h1>
        <div class="header-ribbon-container md:d:none"><div class="box-under-shadow"></div> 
            <h1 class="order:2"><span class="font-color:base-8 txt-al:center font-size:6 font-weight:1 pos:relative w:180px">연습 결과 보고서</span></h1>
            <div class="order:1"><a href="" class="icon icon:caret_left_bold icon-color:base-8 w:13px h:24px">뒤로가기 버튼</a></div>
        </div>

        <section class="d:none md:d:flex root-header-menu">
            <h1 class="d:none">접속중인 친구</h1>
            <div class="d:flex gap:4"><span class="online-user"></span><span class="online-user"></span><span class="online-user"></span><span class="online-num">6</span></div>
        </section>
        <nav class="root-header-menu">
            <h1 class="d:none">유저 메뉴</h1>
            <ul class="md:d:none">
                <li><a href="/admin" class="icon icon:admin">관리자-유저 전환</a></li>
                <li><a href="/" class="icon-home">홈으로</a></li>
                <li><a href="" id="m" class="icon icon:list">메뉴</a></li>
            </ul>
        </nav>
        <nav class="menu d:none md:d:none">
            <h1 class="d:none">모바일 메뉴바</h1>
            <ul>
                <li class="profile-place"><a href="" class="profile">내정보</a><a href="" class="icon icon:myinfo arrow">>></a></li>
                <li><a href="" class="deco deco-margin-right:8 deco-size:6 icon:calendar_blank">활동하기</a></li>
                <li><a href="/study" class="deco deco-margin-right:8 icon:learning">학습하기</a></li>
                <li><a href="" class="deco deco-margin-right:8 icon:friend">친구</a></li>
                <li><a href="" class="deco deco-margin-right:8 icon:team">팀</a></li>
                <li><a href="" class="deco deco-margin-right:8 icon:rank">순위</a></li>
                <li><a href="" class="deco deco-margin-right:8 icon:mail">우편함</a></li>
                <li><a href="" class="deco deco-margin-right:8 icon:setting">설정</a></li>
            </ul>
        </nav>
    </header>

    <main class="of:auto">
        <!--=========================== 메인 입력 ===============================-->
        <section class="d:flex fl-direction:column ac:center gap:2">
            <section class="fs:5 ac:center h:6">
                <h1 class="d:none">대결 결과</h1>
                <div class="d:flex fl-direction:column row-gap:3 jc:center">
                    <div class="d:flex jc:center fs:9">WIN</div>
                    <div class="d:flex jc:center">이번 대결은</div>
                    <div class="d:flex jc:center">1인 대결입니다.</div>
                    <div class="d:flex jc:center gap:2"><span>총 문제 수</span><span>17문제</span></div>
                    <div class="d:flex jc:center gap:2"><span>푼 문제 수</span><span>1문제</span></div>
                    <div class="d:flex jc:center">제한시간 40초</div>
                </div>
            </section>
        </section>
        
        <!-- 익스펜더 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
        <section class="d:flex jc:center mt:9">
            <section class="section-s">
                <!-- 1. 맞힌문제 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
                <div class="n-expander d:fl-direction:row ac:center">
                    <div class="n-expander-title">
                    <input type="checkbox" class="n-expander-trigger"/>
                    <span>맞힌 문제 수</span><span class="ml:2">: 5 문제</span>
                    </div>
                    <div class="n-expander-content px:2 bg-color:main-2 border-radius:3">
                        <div class="mx:2 my:2">
                            <div class="quizbox"><span class="ml:3 w:1">1.</span><span class="w:5">문제</span><span>-5p</span></div>
                            <div class="quizbox mt:2"><span class="ml:3 w:1">2.</span><span class="w:5">문제</span><span>-5p</span></div>
                            <div class="d:flex jc:center gap:2 mt:2 mt:2"><span>잃은 포인트</span><span>25</span></div>
                        </div>
                    </div>
                </div>

                <!-- 2. 틀린문제 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
                <div class="n-expander">
                    <div class="n-expander-title">
                    <input type="checkbox" class="n-expander-trigger"/>
                    <span>틀린 문제 수</span><span class="ml:2">: 2 문제</span>
                    </div>
                    <div class="n-expander-content px:2 bg-color:main-2 border-radius:3">
                        <div class="mx:2 my:2">
                            <div class="quizbox"><span class="ml:3 w:1">1.</span><span class="w:5">문제</span><span class="w:1">-5p</span></div>
                            <div class="quizbox mt:2"><span class="ml:3 w:1">2.</span><span class="w:5">문제</span><span class="w:1">-5p</span></div>
                            <div class="d:flex jc:center gap:2 mt:2"><span>잃은 포인트</span><span>50</span></div>
                        </div>
                    </div>
                </div>

                <!-- 3. 못 푼 문제 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
                <div class="n-expander">
                    <div class="n-expander-title">
                    <input type="checkbox" class="n-expander-trigger"/>
                    <span>못 푼 문제 수</span><span class="ml:2"> : 2 문제</span>
                    </div>
                    <div class="n-expander-content px:2 bg-color:main-2 border-radius:3">
                        <div class="mx:2 my:2">
                            <div class="quizbox"><span class="ml:3 w:1">1.</span><span class="w:5">문제</span><span>-5p</span></div>
                            <div class="quizbox mt:2"><span class="ml:3 w:1">2.</span><span class="w:5">문제</span><span>-5p</span></div>
                            <div class="d:flex jc:center gap:2 mt:2"><span>잃은 포인트</span><span>50</span></div>
                        </div>  
                    </div>
                </div>  

                <!-- 4. 보상목록 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
                <div class="n-expander">
                    <div class="n-expander-title">
                    <input type="checkbox" class="n-expander-trigger"/>
                    <span>보상 목록</span>
                    </div>
                    <div class="n-expander-content px:2 bg-color:base-4 border-radius:3">
                        <div><img src="">아이템</div>
                        <div class="d:flex gap:2 mt:2"><span></span>딸기 하나를 획득하였습니다.</span></div>
                        <div class="d:flex jc:center gap:2 mt:2"><span>총 획득 포인트</span><span>50</span></div>
                    </div>
                </div>  
            </section>
        </section>

        <!-- 설명 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
        <section class="mt:3">
            <div class="d:flex jc:center fs:2 w:10p">*대표 아바타의 민첩에 따라 제한시간이,체력에 따라 hp가 설정됩니다.</div>
        </section>


        <!-- 모달 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
        <section class="matchReport d:none md:d:none">
            <h1 class="d:none">문제 메뉴</h1>
            <div>
                <button type="button" class="n-btn n-btn:void n-btn-size:1 ">즐겨찾기 추가</button>
                <button type="button" class="n-btn n-btn:void n-btn-size:1 d:flex mt:2">오탈자 신고</button>
            </div>
        </section>

        <!--=========================== 메인 끝 ===============================-->
    </main>

    <aside class="d:none md:d:flex jc:center right:1 zi:1">
        <div class="pos:fixed h:100p bg-color:main-2">
            <nav class="d:flex jc:center">
                <h1 class="d:none">pc 메뉴바</h1>
                <ul class="d:grid gap:4 mt:7 w:min-content">
                    <li class="profile-place"><a href="" class="profile"></a><a href="" class="icon icon:myinfo arrow">>p></a></li>
                    <li class="fs:1 bd-bottom"><span>김철수</span><span>Lv.5</span><br><span>인벤토리 북마크</span><li>
                    <li><a href="" class="deco deco-margin-right:8 deco-size:6 icon:calendar_blank">활동하기</a></li>
                    <li><a href="/study" class="deco deco-margin-right:8 icon:learning">학습하기</a></li>
                    <li><a href="" class="deco deco-margin-right:8 icon:friend">친구</a></li>
                    <li><a href="" class="deco deco-margin-right:8 icon:team">팀</a></li>
                    <li><a href="" class="deco deco-margin-right:8 icon:rank">순위</a></li>
                    <li><a href="" class="deco deco-margin-right:8 icon:mail">우편함</a></li>
                    <li><a href="/setting" class="deco deco-margin-right:8 icon:setting">설정</a></li>
                    <li><a href="/admin" class="deco deco-margin-right:8 icon:admin">관리자</a></li>
                </ul>
            </nav>
        </div>
    </aside>

    <footer class="ad md:d:none d:flex jc:center ai:center">
        <div>광고</div>
    </footer>

</body>
</html>