/* list */
.userquiz-modal{
    justify-content: center;
    background-color: var(--color-main-1);
    border-radius: 8px;

    padding: 10px;
    font-size: 13px;

    width: 300px;
    height: 120px;
}

/* detail */

.speed-modal{
    justify-content: center;
    background-color: var(--color-main-1);
    border-radius: 8px;

    padding: 10px;
    font-size: 13px;

    width: 284px;
    height: 100px;
}


/* 모달 열릴 때 배경 어두워지게 */
.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1040;
}