*{

    box-sizing: border-box;
}

body{

background-color: var(--color-accent-3);
padding: 0;
margin: 0;
overflow: hidden;
}

.game-container{

    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1px solid #fff;

    transform: scale(4) translateY(50%);


    canvas{

        image-rendering: pixelated;
    }
}