/*
utill.css 목록

1.색상
2.버튼
3.폰트

*/

/* ======================1.색상======================= */

.background-color\:main-4 {
    background-color: var(--color-main-4, #D26363) !important;
}

.bg-color\:main-4 {
    background-color: var(--color-main-4, #D26363) !important;
}

.border-color\:main-4 {
    border-color: var(--color-main-4, #D26363) !important;
}

.bd-color\:main-4 {
    border-color: var(--color-main-4, #D26363) !important;
}

.color\:main-4 {
    color: var(--color-main-4, #D26363) !important;
}

.background-color\:accent-4 {
    background-color: var(--color-accent-4, #418928) !important;
}

.bg-color\:accent-4 {
    background-color: var(--color-accent-4, #418928) !important;
}

.border-color\:accent-4 {
    border-color: var(--color-accent-4, #418928) !important;
}

.bd-color\:accent-4 {
    border-color: var(--color-accent-4, #418928) !important;
}

.color\:accent-4 {
    color: var(--color-accent-4, #418928) !important;
}

.background-color\:accent-5 {
    background-color: var(--color-accent-5, #FCC22C) !important;
}

.bg-color\:accent-5 {
    background-color: var(--color-accent-5, #FCC22C) !important;
}

.border-color\:accent-5 {
    border-color: var(--color-accent-5, #FCC22C) !important;
}

.bd-color\:accent-5 {
    border-color: var(--color-accent-5, #FCC22C) !important;
}

.color\:accent-5 {
    color: var(--color-accent-5, #FCC22C) !important;
}

.background-color\:sub-4 {
    background-color: var(--color-sub-4, #3D6988) !important;
}

.bg-color\:sub-4 {
    background-color: var(--color-sub-4, #3D6988) !important;
}

.border-color\:sub-4 {
    border-color: var(--color-sub-4, #3D6988) !important;
}

.bd-color\:sub-4 {
    border-color: var(--color-sub-4, #3D6988) !important;
}

.color\:sub-4 {
    color: var(--color-sub-4, #3D6988) !important;
}

.background-color\:sub-5 {
    background-color: var(--color-sub-5, #DC74D8) !important;
}

.bg-color\:sub-5 {
    background-color: var(--color-sub-5, #DC74D8) !important;
}

.border-color\:sub-5 {
    border-color: var(--color-sub-5, #DC74D8) !important;
}

.bd-color\:sub-5 {
    border-color: var(--color-sub-5, #DC74D8) !important;
}

.color\:sub-5 {
    color: var(--color-sub-5, #DC74D8) !important;
}

.background-color\:main-5 {
    background-color: var(--color-main-5, #EED9D9) !important;
}

.bg-color\:main-5 {
    background-color: var(--color-main-5, #EED9D9) !important;
}

.border-color\:main-5 {
    border-color: var(--color-main-5, #EED9D9) !important;
}

.bd-color\:main-5 {
    border-color: var(--color-main-5, #EED9D9) !important;
}

.color\:main-5 {
    color: var(--color-main-5, #EED9D9) !important;
}

/* =======================2.버튼===================================== */


.n-btn-size\:4 {

    height: var(--btn-height-4) !important;
    padding: var(--btn-padding-4) !important;
    font-size: var(--btn-font-size-4) !important;
    border-radius: var(--btn-border-radius-4) !important;
  
  }
  
  
  .n-btn-type\:filled-2 {
      
      background-color: var(--color-base-2) !important;
      border: 1px solid transparent !important;
      color: var(--color-base-8) !important; 
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
  }
  
  .n-btn-type\:filled-2:hover {
     background-color:  #FAFAFA !important;
  }
  
  .n-btn-type\:filled-2:active {
      background-color:  var(--color-main-2) !important;
  }
  
  .n-btn\:filled-2 {
  
      background-color: var(--color-base-2) !important;
      border: 1px solid transparent !important;
      color: var(--color-base-8) !important; 
      /* display: flex !important; */
      justify-content: center !important;
      align-items: center !important;
  }
  
  
  .n-btn\:filled-2:hover {
      background-color:  #FAFAFA !important;
   }
   
   .n-btn\:filled-2:active {
       background-color:  var(--color-main-2) !important;
   }

   /* 버튼 추가3 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.n-btn-type\:filled-3 {
      
    background-color: var(--color-mian-3) !important;
    border: 1px solid transparent !important;
    color: var(--color-base-8) !important;
}

.n-btn-type\:filled-3:hover {
   background-color: #F8EBEB !important;
}

.n-btn-type\:filled-3:active {
    background-color: var(--color-main-1) !important;
}

.n-btn\:filled-3 {

    background-color: var(--color-main-3) !important;
    border: 1px solid transparent !important;
    color: var(--color-base-8) !important;
}

.n-btn\:filled-3:hover {
    background-color: #F8EBEB !important;
 }
 
 .n-btn\:filled-3:active {
     background-color: var(--color-main-1) !important;
 }

 /* 버튼 추가4 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.n-btn-type\:filled-4 {
      
    background-color: var(--color-base-4) !important;
    border: 1px solid transparent !important;
    color: var(--color-base-8) !important;
}

.n-btn-type\:filled-4:hover {
   background-color: #FACDCD !important;
}

.n-btn-type\:filled-4:active {
    background-color: var(--color-base-4) !important;
}

.n-btn\:filled-4 {

    background-color: var(--color-base-4) !important;
    border: 1px solid transparent !important;
    color: var(--color-base-8) !important;
}

.n-btn\:filled-4:hover {
    background-color: #FACDCD !important;
 }
 
 .n-btn\:filled-4:active {
     background-color: var(--color-base-4) !important;
 }
 .n-btn\:filled-4:checked {
    background-color: var(--color-base-4) !important;
}



/* 보유 버튼 추가---------------------------------------------------------- */

.n-btn\:filled-on {
    background-color: var(--color-main-2) !important;
    border-radius: 12px !important; 
    border: 1px solid transparent !important;
    color: var(--color-base-8) !important;
    width: 130px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
 }

 .n-btn\:filled-off {
    background-color: var(--color-base-3) !important;
    border-radius: 12px !important; 
    border: 1px solid transparent !important;
    color: var(--color-base-8) !important;
    width: 130px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
 }
 
 .n-btn\:long-btn {
    background-color: var(--color-main-2) !important;
    border-radius: 15px !important; 
    border: 1px solid transparent !important;
    color: var(--color-base-8) !important;
    width: 300px !important;
    height: 60px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
 }


/* -----------sign in 버튼------------------- */

.n-btn\:sign {
    background-color: var(--color-main-3) !important;
    border-radius: 30px !important;
    width:310px !important;
    height: 68px !important;
 }

 /* ------------google login 버튼-------------- */

 .n-btn\:google {
    background-color: var(--color-base-2) !important;
    border-radius: 15px !important;
    width:310px !important;
    height: 68px !important;
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important;
    gap: 40px !important;
 }

/* ----------------입력 창 안 버튼-------------------- */

.n-btn\:input {
    background-color: var(--color-main-3) !important;
    border-radius: 30px !important;
    width:70px !important;
    height: 28px !important;
 }

 /* --------------------변경 버튼----------------------- */

.n-btn\:save {
    background-color: var(--color-main-2) !important;
    border-radius: 12px !important; 
    border: 1px solid transparent !important;
    color: var(--color-base-8) !important;
    width: 80px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* =======================3.폰트========================== */

.font\:1{
    font-family: var(--font-1);
}
.font\:2{
    font-family: var(--font-2);
}
.font\:3{
    font-family: var(--font-3);
}
.font\:4{
    font-family: var(--font-4);
}

.font-s\:4{
    font-size: 40px;
}


/* gap 추가 11~20*/

.gap\:11{
    gap: var(--gap-11) !important; /* 44px */
  }
  
  .gap\:12{
    gap: var(--gap-12) !important; /* 48px */
  }

  .gap\:13{
    gap: var(--gap-13) !important; /* 50px */
  }

  .gap\:14{
    gap: var(--gap-14) !important; /* 56px */
  }

  .gap\:15{
    gap: var(--gap-15) !important; /* 60px */
  }

  .gap\:16{
    gap: var(--gap-16) !important; /* 64px */
  }

  .gap\:17{
    gap: var(--gap-17) !important; /* 68px */
  }

  .gap\:18{
    gap: var(--gap-18) !important; /* 72px */
  }

  .gap\:19{
    gap: var(--gap-19) !important; /* 76px */
  }

  .gap\:20{
    gap: var(--gap-20) !important; /* 80px */
  }