.battle{
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-image: url("../../image/battle.png");
background-size: cover;
image-rendering: pixelated;

}

.battle-coco, .battle-bug{
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url(/image/room/shadow.png) no-repeat no-repeat;
}
.battle-coco img, .battle-bug img{
    pointer-events: none;
}
.battle-coco{
    /* bottom:200px; */
    top:150px;
    left: 70px;
    transform: scale(8);

}
.battle-coco img{
    transform: translateY(-64px);
}
.battle-bug{
    top:170px;
    right: 70px;
    transform: scale(6);

}

/* 애니메이션 */
@keyframes battle-damage-blink{
    to{
        visibility:hidden;
    }
}
.battle-damage-blink{
    animation: battle-damage-blink 0.3s steps(2,start) infinite;
}

@keyframes battle-spin-right{
    0% { opacity: 1;}
    5% { transform: translate3d(0,0,0) rotate(0deg) scale(3)}
    25% { transform: translate3d(375px,-25px,0) rotate(145deg) scale(3)}
    70% { transform: translate3d(0,0,0) scale(3); opacity: 1;}
    100% { opacity: 0;}

}
.battle-spin-right{
    animation: battle-spin-right 0.8s forwards;
}

@keyframes battle-spin-left{
    0% { opacity: 1;}
    5% { transform: translate3d(0,0,0) rotate(0deg) scale(3)}
    25% { transform: translate3d(-375px,85px,0) rotate(45deg) scale(3)}
    70% { transform: translate3d(0,0,0) scale(3); opacity: 1;}
    100% { opacity: 0;}

}
.battle-spin-left{
    animation: battle-spin-left 0.8s forwards;
}


@keyframes battle-knockdown{
    from{
        opacity: 1;
    }

    to{
        bottom:0;
        opacity: 0;
    }
}
.battle-knockdown{
    animation: battle-knockdown 1s forwards;

}

@keyframes battle-fireball{
    0% { opacity: 1;}
    25% { transform: translate3d(0,0,0) rotate(0deg) scale(3)}
    55% { transform: translate3d(375px,100px,0) rotate(45deg) scale(3); opacity: 1;}
    100% { transform: translate3d(375px,100px,0) rotate(45deg) scale(3); opacity: 0;}

}
.battle-fireball{
    animation: battle-fireball 2s forwards;
}