/* https://www.youtube.com/watch?v=xfCPZhMw5Z0&t=800s */

.skill-effect{
    position:absolute;
    transform: scale(3);
}
.skill-effect[alt="솜방망이 펀치"]{

    bottom:73px;
    left:51px;
}
.skill-effect[data-type="fire"]{

    top:100px;
    left:120px;
}
.skill-effect[data-team="enemy"]{
    top:47px;
    right:100px;
}

.skill-effect[data-active="false"]{
    opacity: 0;
}
.skill-effect[data-active="true"]{
    opacity: 1;
}