<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZCOCO</title>

</head>
<body>
    <main layout:fragment="main" class="of:auto">
<!--==============//XXX 레이아웃 나누었습니다. 
                        제목 입력시 컨트롤러 겟맵핑에  model.addAttribute("pageTitle","적절한 제목 예)학습하기"); 요거 추가
                        안그러면 제목 null이라 나옴 ================-->
    
           
   </main>
</body>
</html>