<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZCOCO</title>
<link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <link href="/css/components/header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/styles/global.css" rel="stylesheet" type="text/css">
    <link href="/css/styles/text-message.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" href="/image/logo.png">


    <!-- <script>
        const canvas = document.getElementById('.game-canvas');
        const ctx = canvas.getContext('2d');

        function resizeCanvas() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
         
        }

        window.addEventListener('resize', resizeCanvas);

        resizeCanvas();

    </script> -->

    <!-- 게임 -->
    <script defer src="/js/lib/room/MyInfo.js"></script>
    <script defer src="/js/lib/room/CocoInfo.js"></script>
    <script defer src="/js/lib/room/utils.js"></script>
    <script defer src="/js/lib/room/DirectionInput.js"></script>
    <script defer src="/js/lib/room/Overworld.js"></script>
    <script defer src="/js/lib/room/GameObject.js"></script>
    <script defer src="/js/lib/room/Person.js"></script>
    <script defer src="/js/lib/room/Furniture.js"></script>
    <script defer src="/js/lib/room/Sprite.js"></script>
    <script defer src="/js/lib/room/OverworldMap.js"></script>
    <script defer src="/js/lib/room/OverworldEvent.js"></script>
    <script defer src="/js/lib/room/TextMessage.js"></script>
    <script defer src="/js/lib/room/SelectAvatar.js"></script>
    <script defer src="/js/lib/room/InsertBox.js"></script>
    <script defer src="/js/lib/room/KeyPressListener.js"></script>
    <script defer src="/js/lib/room/init.js"></script>

    <!-- 헤더 -->
    <script defer src="/js/header.js"></script>
</head>
<body>
    <main layout:fragment="main" class="p:0">
        <h1 class="d:none txt-al:center">퀴즈코코는 지금 많이 아파요..</h1>
        <div class="game-container mt:auto">
            <canvas class="game-canvas md:w:10p" width="240" height="224"></canvas>
            <img src="/image/room/man1.png" class="d:none">
            <img src="/image/room/woman1.png" class="d:none">
        </div> 
   </main>

</body>
</html>