<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <link href="/css/modal.css" rel="stylesheet" type="text/css">
    <link href="/css/user-quiz.css" rel="stylesheet" type="text/css">
 
    <script defer src="/js/study/userquiz/detail.js"></script>
</head>
<body>
    <main layout:fragment="main" class="of:auto">
        <section id="card-section" class="main-container-center">
            <h1 class="d:none">내가 만든 문제</h1>
            <section class="d:flex fl-dir:column" >
                <h1 class="d:none">메인 카드 섹션</h1>
                <article class="card-container" draggable="true">
                    <h1 class="d:none">하위그룹</h1>
                    <section>
                        <h1 class="d:none">카드 상단</h1> 
                        <div class="d:flex fl-dir:row jc:space-between pb:6 h:1">

                            <!-- 즐겨찾기 ============================================ -->
                            <div class="d:flex justify-content:flex-end">
                                <form action="add" method="get">
                                <a class="favorite icon icon-color:base-4"
                                th:classappend="${userQuiz.like}==1 ? 'icon-star':'icon:star'"
                                href="">즐겨찾기</a></form>
                            </div>

                            <!-- 기타 모달 =======================================  -->
                            <div class="n-dropdown">
                                <button id="dropdown-btn" class="icon icon:dots_three_outline_vertical_fill">기타 아이콘</button>
                                <ul id="dropdown-list" class="left:-2">
                                    <h1 class="d:none">기타 메뉴</h1>
                                    <li><a href="" th:href="@{edit(id=${param.id},category=${param.category})}">수정</a></li>
                                    <li><a href="" class="del">삭제</a></li>
                                </ul>
                            </div>
                        </div>
     
                        <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

                        <div class="d:flex fl-dir:row jc:space-between">
                            <!-- 카드갯수 -->
                            <div class="card-count d:flex jc:flex-start">
                                <!-- TODO 앞 카드번호 오래된순일때 리스트의 1번째 문제는 무조건 1번으로 나오게 35->1번이어야함-->
                                <span th:data-no="${userQuiz.rowNum}" th:text="${userQuiz.rowNum}" style="margin-right:6px;">현재 문제 번호</span> 
                                <span style="margin-right:6px;">/</span> 
                                <span th:data-count="${count}" th:text="${count}">총 문제 갯수</span>
                            </div>
                        
                            <!-- reg_date -->
                            <div class="d:flex jc:flex-end pb:3">
                                <span style="margin-right:6px;" th:text="${#temporals.format(userQuiz.regDate, 'yyyy-MM-dd HH:mm:ss')}">문제등록 날짜</span> 
                            </div>
                        </div>
                    </section>

                    <!-- 문제 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
                    <section id="quiz-card" class="bg-color:base-1 h:5">
                        <h1 class="d:none">카드 내용</h1>
                        <section th:if="${userQuiz !=null && userQuiz !=''}">
                            <div class="quiz-question input-text:Qcard">
                                <span class="d:inline-block pb:2" th:text="${userQuiz.category == 'ox' ? '[OX 문제]' : userQuiz.category == 'multi' ? '[사지선다 문제]' : '[단답 문제]'}">[사지선다 문제]</span><br>
                                <span class="d:inline-block pb:5 fw:bold" th:text="${userQuiz.question}">문제</span><br>
                                <span class="pb:2 fw:bold" th:classappend="${userQuiz.num1 != null} ? 'd:inline-block' : 'd:none'" th:text="'① ' + ${userQuiz.num1}"><br>①</span><br>
                                <span class="pb:2 fw:bold" th:classappend="${userQuiz.num2 != null} ? 'd:inline-block' : 'd:none'" th:text="'② ' + ${userQuiz.num2}"><br>②</span><br>
                                <span class="pb:2 fw:bold" th:classappend="${userQuiz.num3 != null} ? 'd:inline-block' : 'd:none'" th:text="'③ ' + ${userQuiz.num3}"><br>③</span><br>
                                <span class="pb:2 fw:bold" th:classappend="${userQuiz.num4 != null} ? 'd:inline-block' : 'd:none'" th:text="'④ ' + ${userQuiz.num4}"><br>④</span><br>
                                <span class="d:none d:inline-block fw:bold color:accent-4 mt:4" th:text="${'정답 : ' + userQuiz.answer}">답</span>
                            </div>
                        </section>
                    </section>

                    <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
                    <!-- 버튼형식으로 카드 넘기기 -->
                    <section class="d:flex fl-dir:column ai:center">
                        <h1 class="d:none">카드 하단</h1>
                        <div class="n-progress n-progress-card" role="progressbar">
                            <div style="width:40%"></div>
                        </div>
                        <div class="d:flex gap:10">
                            <a href="" class="left"><div class="icon icon:caret_left_bold pr:10">왼쪽</div></a>
                            <a href="" class="right"><div class="icon icon:caret_right_bold pr:10 pl:5">오른쪽</div></a>
                        </div>
                    </section>
                </article>
            </section>
        </section>

        <!-- 퀴즈삭제확인 모달 -->
        <section id="delete-modal" class="d:none n-modal w:6 h:3 ac:center">
            <h1 class="d:none">퀴즈삭제 컨펌</h1>
            <div class="d:flex fl-direction:flex jc:center">
                <div class="d:flex deco icon:warning_circle"></div>
                <div>
                    <div>선택하신 퀴즈를</div>
                    <div>정말로 삭제 하시겠습니까?</div>
                </div>
            </div>
            <div>
                <div class="d:flex jc:center gap:3 mt:4">
                    <div><button id="cancel-btn" class="n-btn n-btn-size:1">취소</button></div>
                    <div>
                        <form method="post" action="del">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="category" value="">
                            <button id="confirm-btn" class="n-btn n-btn-size:1">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>

</body>
</html>