<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZCOCO</title>
<link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <link href="/css/components/header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/user-quiz.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" href="/image/logo.png">
    <script defer src="/js/header.js"></script>
</head>
<body>
    <main layout:fragment="main" class="of:auto ac:center jc:center">
        <section class="d:flex fl-direction:column jc:center gap:20">
            <!-- 속도조절 -->
            <section>
                <form>
                    <div class="d:flex jc:center ac:center gap:2 mt:10">
                        <div><label>-</label></div>
                        <div>               <!-- ↓ report.css  -->
                            <div><input class="speed-size" type="range" name="speed" min="0.25" max="2" step="0.25" value="1.0" oninput="document.getElementById('value1').innerHTML=this.value+'x';"></div>
                                                                    <!-- 젤 작은 수치 0.25x / 최고 수치 2x / 단계수치 +0.25 / 기본 기본 값 1.0x / 단계 수치값에 x붙어서 나오게 'x'추가 1.0x-->
                            <div class="d:flex jc:center mt:2"><span id="value1">1x</span></div>
                        </div>                                         <!-- ↑ 1x 씀으로써 기본값을 1x로 주면서 보이게 하는것 -->
                        <div><label>+</label></div>
                    </div>
                </form>
            </section>

            <!-- 버튼 -->
            <section class="d:flex jc:center ac:center">
                <div class="flex-direction:row d:flex jc:center ai:center border-radius:3 w:7 h:1">
                    <button class="admin-textarea:4 bg-color:main-5 n-btn n-btn:filled-3 ai:center">저장</button>
                </div>   
            </section>
        </section>

    </main>
</body>
</html>