<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZCOCO</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <link href="/css/components/header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/user-quiz.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" href="/image/logo.png">
    <script defer src="/js/header.js"></script>
    <script defer src="/js/study/userquiz/edit.js"></script>
</head>
<body>
<main layout:fragment="main" class="of:auto">
    <section class="quiz-block">
        <h1 class="d:none">유저 문제 등록폼</h1>
        <form method="post" action="edit">
            <fieldset>
                <div class="select-block">
                    <label class="fw:bold fs:6 pr:6">문제 형식</label>
                    <select id="quizType" name="cate" class="quiz-cate none">
                        <option value="short" class="bg-color:base-1">단답형</option>
                        <option value="multi" class="bg-color:base-1">사지선다형</option>
                        <option value="ox" class="bg-color:base-1">OX형</option>
                    </select>
                </div>

                <div class="d:none select-block">    
                    <label class="fw:bold fs:6 pr:4"> 그룹 선택</label>
                    <div class="quiz-cate">
                        <select class="none bg-color:main-2">
                            <option class="bg-color:base-1">그룹1</option>
                            <option class="bg-color:base-1">그룹2</option>
                        </select>
                        <span class="icon icon:caret_right icon-size:1">*</span>
                        <select class="none bg-color:main-2">
                            <option class="bg-color:base-1">하위 그룹1</option>
                            <option class="bg-color:base-1">하위 그룹2</option>
                        </select>
                    </div>    
                </div>   

                <section class="input-quiz-block">
                    <h1 class="d:none">문제 등록창</h1>
                    <!-- 문제 등록 js -->
                </section>
                
                <span class="color:base-6">*는 필수사항 입니다.</span>
            </fieldset>

            <div class="reg-btn">
                <input type="hidden" name="cate">
                <input type="hidden" name="id">
                <input type="submit" class="n-btn n-btn:filled-2" value="수정">
                <a href="list" class="n-btn n-btn:filled-2">나가기</a>
            </div>
            </section>
            </form>
    </section>
</main>
</body>
</html>