<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="reg.js"></script>
</head>
<body>
    <section>
        <h1>문제형식</h1>
        <div>
            <label>문제형식
            <select>
                <option>단답형</option>
                <option>사지선다형</option>
                <option>OX형</option>
            </select>
            </label>
            <div>그룹2 > 하위그룹4</div>
            <section>
                <h1>폴더 지정</h1>
                <nav>
                    <h1>단답</h1>
                    <div>하위그룹 1</div>
                    <div>하위그룹 2</div>
                    <div>하위그룹 3</div>
                    <div>하위그룹 4</div>
                    <div><input type="text" value="새 폴더"></div>
                </nav>
                <div><button>선택</button><button>닫기</button></div>
            </section>
        </div>
    </section>
    <section>
        <h1>문제형식</h1>
        <div></div>
        <div>*는 필수사항 입니다.</div>
    </section>
    <section>
        <h1>등록 및 추가</h1>
        <div>
            <button>추가버튼</button>
            <button>등록 후 이어서 작성</button>
        </div>
    </section>

    <footer>광고</footer>
</body>
</html>