<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <link href="/css/user-quiz.css" rel="stylesheet" type="text/css">
    <script defer src="/js/study/userquiz/reg.js"></script>
</head>
<body>

<main layout:fragment="main" class="of:auto">

    <section class="quiz-block">
        <h1 class="d:none">유저 문제 등록폼</h1>
        <form method="post" action="reg">
            <fieldset>
                <div class="select-block">
                    <label class="fw:bold fs:6 pr:6">문제 형식</label>
                    <select id="quizType" name="cate" class="quiz-cate none">
                        <option value="short" class="bg-color:base-1">단답형</option>
                        <option value="multi" class="bg-color:base-1">사지선다형</option>
                        <option value="ox" class="bg-color:base-1">OX형</option>
                    </select>
                </div>
                <div class="d:none select-block">    
                    <label class="fw:bold fs:6 pr:4"> 그룹 선택</label>
                    <div class="quiz-cate">
                        <select class="none bg-color:main-2">
                            <option class="bg-color:base-1">그룹1</option>
                            <option class="bg-color:base-1">그룹2</option>
                        </select>
                        <span class="icon icon:caret_right icon-size:1">*</span>
                        <select class="none bg-color:main-2">
                            <option class="bg-color:base-1">하위 그룹1</option>
                            <option class="bg-color:base-1">하위 그룹2</option>
                        </select>
                    </div>    
                </div>   
                <section class="input-quiz-block">
                    <h1 class="d:none">문제 등록창</h1>
                    <!-- 문제 등록 js -->
                        <!-- <div id="shortQuiz">
                            <label class="pb:3 fw:bold fs:5">문제<span class="color:accent-1">*</span>
                                <textarea name="shortQuestion" autocomplete="off" class="input-text:short" required></textarea></label>
                            <label class="pb:3 fw:bold fs:5">단답형 답<span class="color:accent-1">*</span>
                                <textarea name="shortAnswer" autocomplete="off" class="input-text:short" required></textarea></label>
                            <label class="pb:3 fw:bold fs:5">해설(선택)<textarea name="shortCommentary" autocomplete="off" class="input-text:short"></textarea></label>
                                
                        </div> -->

                        <!-- <div id="multipleQuiz" hidden>
                            <label class="pb:3 fw:bold fs:5">문제<span class="color:accent-1">*</span></label>
                                <textarea name="multiQuestion" autocomplete="off" class="input-text:multi" required></textarea>
                                <textarea name="num1" placeholder="①" autocomplete="off" class="input-text:multi" required></textarea>
                                <textarea name="num2" placeholder="②" autocomplete="off" class="input-text:multi" required></textarea>
                                <textarea name="num3" placeholder="③" autocomplete="off" class="input-text:multi" required></textarea>
                                <textarea name="num4" placeholder="④" autocomplete="off" class="input-text:multi" required></textarea>
                            <label class="pb:3 fw:bold fs:5">답<span class="color:accent-1">*</span></label>
                                <textarea name="multiAnswer" type="number" autocomplete="off" class="input-text:multi" required></textarea>
                            <label class="pb:3 fw:bold fs:5">해설(선택)</label>    
                                <textarea name="multiCommentary" autocomplete="off" class="input-text:multi"></textarea>
                        </div> -->

                        <!-- <div id="oxQuiz" class="bd-radius:2 bg-color:" hidden>
                            <label class="pb:3 fw:bold fs:5">문제<span class="color:accent-1">*</span>
                                <textarea name=" " class="input-text:short" autocomplete="off" required></textarea></label>
                                
                            <label class="pb:3 fw:bold fs:5">OX답<span class="color:accent-1">*</span></label>    
                              <div class="d:flex fl-dir:row gap:3 ai:center jc:flex-end pb:2">
                                <label><input type="radio" name="answer" class="n-btn n-btn:filled-o" value="o">O</label>
                                <label><input type="radio" name="answer" class="n-btn n-btn:filled-x" value="">X</label>
                            </div>
                            <label class="pb:3 fw:bold fs:5">해설(선택)</label>    
                                <textarea name="commentary" class="input-text:short" autocomplete="off"></textarea>
                        </div> -->
                </section>
                
                <span class="color:base-6">*는 필수사항 입니다.</span>
            </fieldset>
            <div class="reg-btn">
                <input type="submit" class="n-btn n-btn:filled-2" value="등록 후 이어서 작성">
                <a href="list" class="n-btn n-btn:filled-2">나가기</a>
            </div>
            </section>
            </form>
    </section>
</main>

</body>
</html>