/* ============뉴틸에 없는것============= */

.icon\:admin:after,.icon\:admin:before {
    -webkit-mask-image: url(../../image/icon/change.svg);
    mask-image: url(../../image/icon/change.svg);
}
.icon\:learning:after,.icon\:learning:before {
    -webkit-mask-image: url(../../image/icon/learning.svg);
    mask-image: url(../../image/icon/learning.svg);
}
.icon\:friend:after,.icon\:friend:before {
    -webkit-mask-image: url(../../image/icon/friend.svg);
    mask-image: url(../../image/icon/friend.svg);
}
.icon\:team:after,.icon\:team:before {
    -webkit-mask-image: url(../../image/icon/team.svg);
    mask-image: url(../../image/icon/team.svg);
}

.icon\:rank:after,.icon\:rank:before {
    -webkit-mask-image: url(../../image/icon/rank.svg);
    mask-image: url(../../image/icon/rank.svg);
}
.icon\:mail:after,.icon\:mail:before {
    -webkit-mask-image: url(../../image/icon/mail.svg);
    mask-image: url(../../image/icon/mail.svg);
}
.icon\:setting:after,.icon\:setting:before {
    -webkit-mask-image: url(../../image/icon/setting.svg);
    mask-image: url(../../image/icon/setting.svg);
}
.icon\:myinfo:after,.icon\:myinfo:before {
    -webkit-mask-image: url(../../image/icon/myinfo.svg);
    mask-image: url(../../image/icon/myinfo.svg);
}
.icon\:page_start:after,.icon\:page_start:before {
    -webkit-mask-image: url(../../image/icon/page_start.svg);
    mask-image: url(../../image/icon/page_start.svg);
}
.icon\:page_end:after,.icon\:page_end:before {
    -webkit-mask-image: url(../../image/icon/page_end.svg);
    mask-image: url(../../image/icon/page_end.svg);
}
.icon\:skip:after,.icon\:skip:before {
    -webkit-mask-image: url(../../image/icon/skip.svg);
    mask-image: url(../../image/icon/skip.svg);
    background-color: #D26363;
} 

.icon\:plus:after,.icon\:plus:before {
    -webkit-mask-image: url(../../image/icon/plus.svg);
    mask-image: url(../../image/icon/plus.svg);
}

.icon\:Lightbulb:after,.icon\:Lightbulb:before {
    -webkit-mask-image: url(../../image/icon/Lightbulb.svg);
    mask-image: url(../../image/icon/Lightbulb.svg);
}

.icon\:DeviceMobile:after,.icon\:DeviceMobile:before {
    -webkit-mask-image: url(../../image/icon/DeviceMobile.svg);
    mask-image: url(../../image/icon/DeviceMobile.svg);
}

.icon\:card:after,.icon\:card:before {
    -webkit-mask-image: url(../../image/icon/IdentificationCard.svg);
    mask-image: url(../../image/icon/IdentificationCard.svg);
}

.icon\:star:after,.icon\:star:before {
    -webkit-mask-image: url(../../image/icon/star.svg);
    mask-image: url(../../image/icon/star.svg);
}


.icon-home{

    display: flex;
    width:27px;
    height: 27px;
    /* border: 1px solid red; */
   overflow: hidden; 
   text-indent: -999px;
   /* margin-right: 10px; */
   background-repeat: no-repeat;
   background-position: center;

   border-radius: 25px;
   background-color: #D26363;
   background-image: url('../../image/icon/home.svg');


}

.icon-star{
    display: inline-block;
    width:29px;
    height: 27px;

    overflow: hidden;
    text-indent: -999px;
    -webkit-mask-size:cover;
    mask-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--color-accent-5);
    -webkit-mask-image:url("../../image/icon/star_fill.svg");
    mask-image: url("../../image/icon/star_fill.svg");
}

.icon-google {
    display: inline-block;
    width:20px;
    height: 20px;

    overflow: hidden;
    text-indent:  -999px;
    -webkit-mask-size:cover;
    mask-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("../../image/icon/google.svg");
    /* -webkit-mask-image:url("../../image/icon/google.svg");
    mask-image:url("../../image/icon/google.svg"); */
  }

  .icon-mail-fill {
    display: inline-block;
    width: 20px;
    height: 13px;

    overflow: hidden;
    text-indent: -999px;
    -webkit-mask-size:cover;
    mask-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("../../image/icon/mail_fill.svg");
}  
