nav>h1, .d-none{
    display: none;

}

ul{
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: inherit;
  }


header h1{

    margin: 0;
}

body{

    margin: 0;
}