*{

    box-sizing: border-box;
}

body{

padding: 0;
margin: 0;
overflow: hidden;
}

.game-container{

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* outline: 1px solid #fff; */

    /* transform: scale(4) translateX(20%); */


    canvas{

        image-rendering: pixelated;
        width: 100%;
        height: 100%;
  
    }
  
}