*{

    box-sizing: border-box;
}

body{

background-color: var(--color-accent-3);
padding: 0;
margin: 0;
overflow: hidden;
}

.game-container{

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    outline: 1px solid #fff;

    /* transform: scale(6) translateY(40%); */


    canvas{

        image-rendering: pixelated;
        /* width: 100%; */
        height: 100%;
  
    }
}