<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/layout">
<head>
    <link href="/css/rank.css" rel="stylesheet" type="text/css">
</head>
<body>
 
    <main layout:fragment="main" class="of:auto">
<section class="rank-body">
    <h1 class="fw:4 fs:9 mb:3">학습순위</h1>
    <div class="rank-div">
        <ol class="large-numbers">
            <li th:each="user, i : ${users}">
                <span class="rank-medal">
                    <span th:if="${i.index == 0}">
                        <i class="icon icon-gold-medal"></i>
                    </span>
                    <span th:if="${i.index == 1}">
                        <i class="icon icon-silver-medal"></i>
                    </span>
                    <span th:if="${i.index == 2}">
                        <i class="icon icon-bronze-medal"></i>
                    </span>
                    <span th:if="${i.index >= 3}">
                        <i class="icon icon:trophy"></i>
                    </span>
                </span>
                <span class="profile-photo d:none">프로필사진</span>
                <span class="nick-name" th:text="${user.nickName}">닉네임</span>
                <span class="point" th:text="${user.point}">포인트</span>
            </li>
        </ol>
 </div>
</section>
       
</main>

</body>
</html>